:root {
  --primaria: #0a8449;
  --primaria-escura: #066537;
  --primaria-clara: #8cdfb4;
  --cor-suave: #e8f5ee;
  --cor-texto: #222;
  --cor-footer: #0a8449;
}

body {
  font-family: "Segoe UI", sans-serif;
   margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: #fafafa;
  color: var(--cor-texto);
}


h2, h3, h4, h5 {
  font-weight: 700;
}
h5 { font-weight: 600; }
p, label, small {
  font-weight: 400;
}

.card-title {
  color: var(--primaria-escura);
}


.btn-primary, .btn-success {
  background-color: var(--primaria) !important;
  border-color: var(--primaria) !important;
  font-weight: 600;
}

.btn-primary:hover,
.btn-success:hover {
  background-color: var(--primaria-escura) !important;
  border-color: var(--primaria-escura) !important;
}


textarea, input, select {
  border: 2px solid var(--primaria-clara) !important;
}


.card {
  border-left: 5px solid var(--primaria);
}

.progress-bar {
  background-color: var(--primaria);
}

.badge-doacao {
  background-color: var(--primaria);
  color: #fff;
  font-weight: 600;
}

 .btn-voltar-fixo {
    position: fixed;
    bottom: 20px;      /* dist칙ncia do fundo */
    left: 1400px;        /* dist칙ncia da esquerda */
    background-color: #0a8449;   /* cor prim치ria */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI';
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.btn-voltar-fixo:hover {
    background-color: #066537;   /* prim치ria escura */
    transform: scale(1.05);
}