:root {
  --primaria: #0a8449;
  --primaria-escura: #066537;
  --primaria-clara: #8cdfb4;
}

body {
  font-family: "Segoe UI", sans-serif;
}


h2, h3, h4, h5 {
  font-weight: 700;
}
h5 { font-weight: 600; }
p, label, small {
  font-weight: 400;
}

.card-title {
  color: var(--primaria-escura);
}


.btn-primary, .btn-success {
  background-color: var(--primaria) !important;
  border-color: var(--primaria) !important;
  font-weight: 600;
}

.btn-primary:hover,
.btn-success:hover {
  background-color: var(--primaria-escura) !important;
  border-color: var(--primaria-escura) !important;
}


textarea, input, select {
  border: 2px solid var(--primaria-clara) !important;
}


.card {
  border-left: 5px solid var(--primaria);
}

.progress-bar {
  background-color: var(--primaria);
}

.badge-doacao {
  background-color: var(--primaria);
  color: #fff;
  font-weight: 600;
}
